.Project {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .Project__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .Project__title {
    color: white;
    text-align: center;
    margin-block: 5px;
  }

  .Project__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      padding-inline: 10px;
      color: white;
      font-size: 20px;

      svg {
        transition: 0.3s;
        path {
          color: white;
        }
      }

      &:hover {
        svg {
          transform: translateX(10px);
        }
      }
    }
  }
}
