.Services {
  .Swiper {
    width: 100%;
    padding-block: 50px;
  }

  .swiper-slide {
    width: 50%;
    @media (max-width: 991px) {
      width: 70%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .swiper-pagination {
    span {
      width: 20px;
      height: 20px;

      &,
      &.swiper-pagination-bullet-active-main {
        background-color: var(--main-text-color);
      }
    }
  }
}
