.header__hand {
  animation: hand-animation 3s linear infinite 1s;
  font-size: 30px;
}

@keyframes hand-animation {
  0%,
  100% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  85% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(-20deg);
  }
  95% {
    transform: rotate(20deg);
  }
}
