.name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  span {
    animation: hand-animation 3s linear infinite 1s;
  }
}

@keyframes hand-animation {
  0%,
  100% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  85% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(-20deg);
  }
  95% {
    transform: rotate(20deg);
  }
}
