.NavBar {
  background-color: var(--main-bg-color);

  .NavBar__links {
    width: 500px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .NavBar__link {

    svg {
      font-size: 30px;
      transition: 0.5s;
    }

    p {
      position: absolute;
      font-size: 18px;
      bottom: -13px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: 0.5s ease-in-out;
    }

    &.active {
      svg {
        transform: translateY(-30px);
      }

      p {
        bottom: -3px;
        opacity: 1;
      }
    }
  }

  .nav-circle {
    position: absolute;
    top: -60%;
    width: 60px;
    height: 60px;
    background: var(--main-linear);
    border: 5px solid var(--main-bg-color);
    border-radius: 50%;
    z-index: -1;
    transition: left 0.5s ease;

    &::before {
      position: absolute;
      content: "";
      top: 55%;
      left: -15px;
      width: 15px;
      height: 20px;
      background-color: transparent;
      border-top-right-radius: 20px;
      box-shadow: 0px -10px 0 0 var(--main-bg-color);
    }

    &::after {
      position: absolute;
      content: "";
      top: 55%;
      right: -15px;
      width: 15px;
      height: 20px;
      background-color: transparent;
      border-top-left-radius: 20px;
      box-shadow: 0px -10px 0 0 var(--main-bg-color);
    }
  }
}
