.GlobalCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;

  &,
  path,
  h3,
  p {
    color: white;
  }

  svg,
  path {
    font-size: 60px;
  }

  &:hover {
    background-color: var(--main-color);
  }
}
