.SocialMedia {
  a {
    font-size: 35px;
    transition: 0.3s;

    path {
      color: var(--main-text-color);
      transition: 0.3s;
    }

    &:hover {
      transform: scale(1.2);

      path {
        color: var(--main-btn-color);
      }
    }
  }
}
