* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
}

:root {
  --main-color: #334464;
  --main-bg-color: #11111f;
  --main-text-color: white;
  --main-linear: linear-gradient(45deg, #2839ff, #39f8fa);
  --bg-blur: rgba(255, 255, 255, 0.1);
  --border-blur: 2px solid rgba(225, 225, 225, 0.2);
  --main-blur: blur(30px);
}

.light {
  --main-bg-color: #fafafa;
  --main-text-color: black;
  --bg-blur: #3344649d;
  --border-blur: 2px solid #3344648a;
}

body {
  font-family: system-ui;
  background-color: var(--main-bg-color);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.main-btn {
  background: var(--main-linear);
  color: white;
  border: none;
  padding: 20px 30px;
  font-size: 28px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  width: fit-content;

  path,
  svg {
    color: white;
    margin-left: 10px;
  }

  &:hover {
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    padding: 15px 20px;
    font-size: 22px;
  }
}

section {
  padding: 80px 0;
  height: 100dvh;
  overflow-y: auto;

  @media (max-width: 768px) {
    padding: 50px 0;
  }
}

.Nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 28px;
}

.main-bg {
  background: var(--bg-blur);
  border: var(--border-blur);
  backdrop-filter: var(--main-blur);
}

.circle-blur {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(130px);
  z-index: -1;
  top: 0;
  left: 40%;
  background: var(--main-linear);
}
