* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #11111f;
  --main-text-color: white;
  --main-btn-color: #3095fd;
  --main-linear: linear-gradient(45deg, #2839ff, #39f8fa);
  --bg-blur: rgba(255, 255, 255, 0.232);
  --main-blur: blur(30px);
}

.light {
  --main-bg-color: #fafafa;
  --main-text-color: black;
  --bg-blur: #334464b3;
}

body {
  font-family: system-ui;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

::-webkit-scrollbar {
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

section {
  height: 100%;
}

.main-bg {
  background: var(--bg-blur);
  backdrop-filter: var(--main-blur);
}

.circle-blur {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(130px);
  z-index: -1;
  top: 0;
  left: 40%;
  background: var(--main-linear);
}
